.venv
notebooks/.ipynb_checkpoints
results/
models/

token.txt
notebooks/AUGI_lab_session_v3.ipynb

__pycache__/

!results/README.md

# Ignore task logs
*.log
# Ignore tasks SGE
*.tsk
# Ignore task output
*.out
# Ignore task error output
*.err
